#root {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: calc(50px + calc(max(10px, env(safe-area-inset-bottom))));
}

@media only screen and (max-width: 1200px) and (orientation: landscape) {
    #root {
        margin: 0 32px;
    }
}