#root {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: calc(50px + calc(max(10px, env(safe-area-inset-bottom))));
}

@media only screen and (max-width: 1200px) and (orientation: landscape) {
    #root {
        margin: 0 32px;
    }
}

h1, h2, p {
    color: var(--color);
}

h1 {
    font-size: 1.5em;
    margin: 32px 16px 16px 16px;
    text-align: center;
}

h2 {
    font-size: 1em;
    margin: 16px 16px 0 16px;
}

p {
    margin: 16px 16px;
}