:root {
    --bg: #021720;
    --footer-bg: #162e42;
    --tile-bg: #1b3347;
    --input-bg: #1c2832;
    --color: #fff;
    --color-dark: #ccc;
    --color-darker: #888;
    --color-darkerer: #666;
    --highlight-blue-light: #4b92cd;
    --highlight-blue-dark: #1c354a;
    --highlight-pink-light: #9e3b95;
    --highlight-pink-dark: #6d2d90;
    --highlight-red-light: #a50126;
    --highlight-red-dark: #71182c;
    --border-radius: 16px;
    --border-radius-small: 8px;
    --input-border-color: #384a59;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--bg);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}