<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/icons/logo.png">
    <title>Ultrastar Wingman</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/players.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/players.js"></script>
</head>
<body>
<main>
    <div id="areas">
        {% for color in colors %}
            <span class="area" style="background-image: url('/avatars/{{ color }}.jpg')"></span>
        {% endfor %}
    </div>
    <div id="players"></div>

    <div class="new_name">
        <input type="text" id="name-input" placeholder="Enter name"/>
        <span id="add-name">ADD</span>
    </div>
    <span id="submit">Enter Names</span>
</main>
<footer>
    <a href="/songs">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-playlist" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M14 17m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
            <path d="M17 17v-13h4" />
            <path d="M13 5h-10" />
            <path d="M3 9l10 0" />
            <path d="M9 13h-6" />
        </svg>
    </a>
    <a href="/download">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-world-download" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M21 12a9 9 0 1 0 -9 9" />
            <path d="M3.6 9h16.8" />
            <path d="M3.6 15h8.4" />
            <path d="M11.578 3a17 17 0 0 0 0 18" />
            <path d="M12.5 3c1.719 2.755 2.5 5.876 2.5 9" />
            <path d="M18 14v7m-3 -3l3 3l3 -3" />
        </svg>
    </a>
    <a class="home" href="/">
<!--        home-->
    </a>
    <a class="current" href="/players">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-users-group" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M10 13a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
            <path d="M8 21v-1a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v1" />
            <path d="M15 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
            <path d="M17 10h2a2 2 0 0 1 2 2v1" />
            <path d="M5 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
            <path d="M3 13v-1a2 2 0 0 1 2 -2h2" />
        </svg>
    </a>
    <a href="/scores">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-medal" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M12 4v3m-4 -3v6m8 -6v6" />
            <path d="M12 18.5l-3 1.5l.5 -3.5l-2 -2l3 -.5l1.5 -3l1.5 3l3 .5l-2 2l.5 3.5z" />
        </svg>
    </a>
</footer>
<div id="message-container" onclick="openConsole()"></div>
<div id="console">
    <div>
        <div id="console-content">
            {% for message in messages %}
            <label{% if message.type == "error" %} class="error"{% endif %}>{{message.msg}}</label>
            {% endfor %}
        </div>
        <span class="close" onclick="closeConsole()"></span>
    </div>
</div>
</body>
</html>
