.button {
    display: block;
    padding: 8px 32px;
    width: max-content;
    border-radius: var(--border-radius-small);
    outline: none;
    font-size: 1em;
    background: var(--input-bg);
    color: var(--color);
    border: 1px solid var(--input-border-color);
    cursor: pointer;
    font-weight: bold;
    box-sizing: border-box;
    text-align: center;
}

.button.blue,
.button:focus {
    background: var(--highlight-blue-dark);
    border-color: var(--highlight-blue-light);
    color: var(--highlight-blue-light);
}

.input-field input::placeholder,
.input-field select::placeholder {
    color: var(--color-dark);
    opacity: 1; /* Firefox */
}