.currently-playing-song {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    margin-top: 16px;
}

.currently-playing-song .cover {
    width: 256px;
    height: 256px;
    background-color: #000;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../public/logo.png");
}

.currently-playing-song .title,
.currently-playing-song .artist {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

.currently-playing-song .title {
    color: var(--color);
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 8px;
}

.currently-playing-song .artist {
    color: var(--color-dark);
    height: 2em;
    font-size: 1em;
    margin-top: 4px;
}