.home .tile.title .logo {
    display: block;
    height: 200px;
    background-image: url("../../public/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.home .tile.title label {
    display: block;
    font-weight: bold;
    text-align: center;
    color: var(--color);
    font-size: 2em;
}

.home .tile.tile > .info {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 400px;
    padding: 10px 20px 16px 20px;
    font-size: 1em;
    color: var(--color-dark);
}

.home .tile.tile > .info a {
    color: var(--color-dark);
    text-decoration: none;
}

.home .tile.title .info svg {
    margin-bottom: -0.12em;
}

.home .tile-container > a {
    text-decoration: none;
}

.home h2 {
    margin-top: 32px;
}