.random-song-selector .slot-machine {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto auto;
    gap: 8px;
}

.random-song-selector .cover {
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    background: #000;
    border: 3px solid var(--color-darker);
    border-radius: 8px;
}

.random-song-selector .cover-list {
    width: 200px;
    position: absolute;
    top: 0;
}

.random-song-selector .cover-list.spinning {
    transition: top 5s cubic-bezier(.75,0,.1,1);
}

.random-song-selector .sub-cover {
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../public/logo.png");
}

.random-song-selector .spin-button {
    display: block;
    grid-column: 1 / -1;
    color: var(--color-dark);
    padding: 8px;
    background: var(--input-bg);
    border: 1px solid var(--color-darker);
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}