.random-song-selector .slot-machine {
    --slot-machine-cover-width: 200px;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    gap: 8px;
    max-width: 420px;
    margin: 16px 0;
    padding: 0 16px;
}

.random-song-selector .header {
    display: flex;
    justify-content: space-between;
    grid-column: 1/-1;
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    background: var(--input-bg);
    border: 1px solid var(--color-darker);
    border-radius: 8px;
    position: relative;
}

.random-song-selector .song-info {
    display: grid;
}

.random-song-selector.spinning .song-info {
    pointer-events: none;
}

.random-song-selector .song-info label {
    display: block;
    color: var(--color);
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.2s;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.random-song-selector .song-info .title {
    color: var(--color);
    font-weight: bold;
}

.random-song-selector.spinning .song-info .title {
    color: var(--color-darker);
}

.random-song-selector .song-info .artist {
    color: var(--color-dark);
    font-size: 0.75em;
}

.random-song-selector.spinning .song-info .artist {
    color: var(--color-darkerer);
}

.random-song-selector.spinning .song-controls {
    pointer-events: none;
    color: var(--color-darker);
}

.random-song-selector .song-controls > * {
    font-size: 1.7rem;
}

.random-song-selector.spinning .song-controls svg {
    color: var(--color-darkerer);
}

.random-song-selector .random-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    gap: 8px;
    padding-top:8px;
    font-size: 0.6rem;
}

.random-song-selector .random-controls > * {
    width: 100%;
}

.random-song-selector .random-controls .spin-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    flex-grow: 1;
    color: var(--color);
    width: 100%;
    box-sizing: border-box;
    background: var(--input-bg);
    border: 1px solid var(--color-darker);
    border-radius: 8px;
    font-size: 2em;
    margin-top: 8px;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.random-song-selector.spinning .random-controls .spin-button {
    pointer-events: none;
    color: var(--color-darker)
}

.random-song-selector .cover {
    width: var(--slot-machine-cover-width);
    height: var(--slot-machine-cover-width);
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    background: #000;
    border: 2px solid var(--color-dark);
    border-radius: 8px;
}

.random-song-selector .cover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.8);
    pointer-events: none; /* Ensure it doesn't interfere with inner content */
    z-index: 505;
}

.random-song-selector .cover .select-line {
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: calc(50% - 1px);
    background: var(--color-dark);
    pointer-events: none;
    z-index: 506;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
}

.random-song-selector .cover .select-line::before,
.random-song-selector .cover .select-line::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
}

.random-song-selector .cover .select-line::after {
    right: 0; /* Adjust the position as needed */
    border-width: 5px 10px 5px 0; /* Adjust triangle size */
    border-color: transparent var(--color-dark) transparent transparent; /* Triangle color */
}

.random-song-selector .cover .select-line::before {
    left: 0; /* Adjust the position as needed */
    border-width: 5px 0 5px 10px; /* Adjust triangle size */
    border-color: transparent transparent transparent var(--color-dark); /* Triangle color */
}

.random-song-selector .cover-list {
    width: var(--slot-machine-cover-width);
    position: absolute;
    top: 0;
    /*Show logo in place of broken covers*/
    background-color: #BFBFBF;
    background-size: contain;
    background-repeat: repeat;
    background-position: top;
    background-image: url("../../public/logo.png");
}

.random-song-selector .cover-list.spinning {
    transition: top 5s cubic-bezier(.75,0,.1,1);
}

.random-song-selector .sub-cover {
    width: var(--slot-machine-cover-width);
    height: var(--slot-machine-cover-width);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}