ul.songs-list {
    padding: 0 16px;
    margin: 0;
}

.song-list-item {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
    cursor: pointer;
}

.song-list-item .cover {
    width: 48px;
    height: 48px;
    background-size: cover;
    background-position: center;
    background-color: #000;
}

.song-list-item .details {
    display: grid;
    gap: 5px;
}

.song-list-item .title {
    font-size: 1em;
    color: var(--color);
}

.song-list-item .title .mark {
    color: var(--highlight-pink-light);
}

.song-list-item .title .mark svg {
    margin-bottom: -0.12em;
}

.song-list-item .artist {
    font-size: 0.75em;
    color: var(--color-dark);
}

.song-list-item .title,
.song-list-item .artist {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}