.songs-page .download-options .tile {
    position: relative;
    height: 120px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.songs-page .download-options .tile.usdb {
    /*TODO: icon that has more pixels than I can count on one hand*/
    background-size: 50%;
    background-image: url("https://usdb.animux.de/images/browser_icon.ico");
}

.songs-page .download-options .tile.ultra-singer {
    background-image: url("https://repository-images.githubusercontent.com/594208922/4befe3da-a448-4cbc-b6ef-93899119071b");
}

.songs-page .download-options .tile label {
    display: flex;
    justify-content: center;
    align-items: end;
    position: absolute;
    bottom: 0;
    padding-bottom: 4px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 12px, rgba(0, 0, 0, 0) 64px);
    color: var(--color);
    width: 100%;
    height: 80px;
    cursor: pointer;
}

.songs-search {
    position: -webkit-sticky;
    position: sticky;
    top: -1px; /*Small bleed above search bar when scrolling on mobile -> +1 padding -1 margin to hide*/
    background: var(--bg);
    padding: 17px 0 16px 0;
    margin-bottom: -16px;
    z-index: 200;
}

.songs-search > div {
    position: relative;
}
