.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 500;
    background: rgba(36, 42, 50, 0.8); /* Milky glass effect */
    backdrop-filter: blur(8px); /* Blur effect for the background */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    max-height: 100vh;
    overflow-y: auto;
}

.modal-content h1,
.modal-content h2 {
    display: block;
    width: max-content;
    max-width: 100%;
    margin: 0 auto;
}

.modal-content img {
    display: block;
    margin: 0 auto;
}

.modal-content h1 {
    font-size: 1.2em;
    margin-top: 16px;
}

.modal-content h2 {
    font-size: 0.8em;
    color: var(--color-dark);
    margin-top: 4px;
}

.modal-content audio {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 24px auto;
}

.modal-content .directory {
    color: var(--color-dark);
    display: block;
    margin-top: 16px;
    font-size: 0.75em;
}

.modal-content .close {
    display: block;
    width: max-content;
    margin: 20px auto;
    padding: 10px 20px;
    color: var(--color);
    cursor: pointer;
}
