.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 500;
    background: rgba(36, 42, 50, 0.8); /* Milky glass effect */
    backdrop-filter: blur(8px); /* Blur effect for the background */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-backdrop .close {
    display: block;
    position: absolute;
    top: 16px;
    right: 16px;
    color: var(--color-darker);
    font-size: 2rem;
    pointer-events: none;
}

.modal-backdrop:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);;
    pointer-events: none;
}

.modal-content {
    padding: 60px 20px 100px 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    max-height: 100vh;
    overflow-y: auto;
    z-index: 501;
}

.modal-content h1,
.modal-content h2 {
    display: block;
    width: max-content;
    max-width: 100%;
    margin: 0 auto;
}

.modal-content img {
    display: block;
    margin: 0 auto;
}

.modal-content h1 {
    font-size: 1.2em;
    margin-top: 16px;
}

.modal-content h2 {
    font-size: 0.8em;
    color: var(--color-dark);
    margin-top: 4px;
}

.modal-content audio {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 24px auto;
}

.modal-content .directory {
    color: var(--color-dark);
    display: block;
    margin-top: 16px;
    font-size: 0.75em;
}

.modal-content .controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 32px auto;
}

.modal-content .controls > div {
    width: max-content;
    font-size: 3rem;
    padding: 4px;
    cursor: pointer;
    color: var(--color-dark);
}

.modal-content .center {
    font-size: 3.5rem !important;
    padding: 4px;
    cursor: pointer;
}

.modal-content .play {
    color: var(--highlight-blue-light);
    display: block;
}

.modal-content.playing .play {
    display: none;
}

.modal-content .stop {
    color: var(--highlight-pink-light);
    display: none;
}

.modal-content.playing .stop {
    display: block;
}

.modal-content .add-wish {
    display: block;
}

.modal-content.wished .add-wish {
    display: none;
}

.modal-content .remove-wish {
    color: var(--highlight-blue-light);
    display: none;
}

.modal-content.wished .remove-wish {
    display: block;
}

