.song-detail-modal h1,
.song-detail-modal h2 {
    display: block;
    width: max-content;
    max-width: 100%;
    margin: 0 auto;
}

.song-detail-modal img {
    display: block;
    margin: 0 auto;
}

.song-detail-modal h1 {
    font-size: 1.2rem;
    margin-top: 16px;
}

.song-detail-modal h2 {
    font-size: 0.8rem;
    color: var(--color-dark);
    margin-top: 4px;
}

.song-detail-modal h3 {
    font-size: 0.8rem;
    color: var(--color-dark);
    margin: 16px auto 4px auto;
    max-width: 400px;
}

.song-detail-modal audio {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 8px auto 24px auto;
}

.song-detail-modal .controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 48px auto 32px auto;
}

.song-detail-modal .controls > div {
    width: 60px;
    font-size: 3rem;
    padding: 4px;
    cursor: pointer;
    color: var(--color-dark);
    display: flex;
    justify-content: center;
}

.song-detail-modal .center {
    font-size: 3.5rem !important;
    padding: 4px;
    cursor: pointer;
}

.song-detail-modal .no-favorite,
.song-detail-modal.wished .no-favorite {
    font-size: 0.85em;
}

.song-detail-modal .no-favorite {
    display: block;
}
.song-detail-modal.favorite .no-favorite {
    display: none;
}
.song-detail-modal .favorite {
    color: var(--highlight-pink-light);
    display: none;
}
.song-detail-modal.favorite .favorite {
    display: block;
}

.song-detail-modal .add-wish {
    display: block;
}
.song-detail-modal.wished .add-wish {
    display: none;
}
.song-detail-modal .remove-wish {
    color: var(--highlight-blue-light);
    display: none;
}
.song-detail-modal.wished .remove-wish {
    display: block;
}

