.usdb-list .song-list-item .download-button {
    color: var(--color-dark);
}

.usdb-list .song-list-item .queued {
    color: var(--highlight-blue-light);
}

.usdb-list .song-list-item .started {
}

.usdb-list .song-list-item .finished {
    color: var(--highlight-pink-light);
}

.usdb-list .song-list-item .failed {
    color: var(--highlight-red-light);
}
