.usdb-list .usdb-search {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: var(--bg);
    padding-bottom: 16px;
}

.usdb-list .usdb-search .input-field {
    margin-top: 16px;
}

.usdb-list .bottom-spinner {
    width: 100%;
    /*max-width: 1200px;*/
    position: fixed;
    bottom: calc(50px + max(10px, env(safe-area-inset-bottom)));
    left: 0;
    z-index: 200;
    margin: 0 auto;
}